@mixin normal-active {
  &:active {
    opacity: 0.7;
  }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin icon-background {
  background: {
    size: auto 80%;
    repeat: no-repeat;
    position: center center;
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin clear-both {
  &::before, &::after {
    content: " ";
    display: table;
    clear: both;
  }
}